*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font */
.hind-madurai{
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  /* font-style: normal; */
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
  font-variation-settings:
    "wdth" 100;
}

.title1{
    font-family: 'Arial', sans-serif; 
    font-size: 32px; 
    font-weight: bold; 
    color: #000;
}

/* navbar design */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 25px 60px;
}
.logo{
    width: 50px;
    height: 50px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-left h2{
    font-size: 20px;
    color: #006747;
    font-weight: bold;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.heart, .coin{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    padding: 12px;
    border-radius: 50px;
    background-color: rgba(65, 255, 107, 0.1);
    font-weight: bold;
}
.copy button{
    background-color: #00A63E;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 50px;
    cursor: pointer;
}

/* hero section */
.hero{
    background: linear-gradient(90deg, #013223 0%, #006747 50%, #013223 100%);
    text-align: center;
    padding: 40px 20px;
    color: white;
}
.hero-logo{
    width: 92px;
    margin-bottom: 11px;
}
.hero h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 11px;
}
.hero p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 21px;
}
/* main section style */
.main-container{
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    background-color: #f0fff0;
    padding: 48px 62px 86px 58px;
    gap: 30px;
}
.card-container{
    display: grid;
    max-width: 1370px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    flex: 3;
}
.card-top-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.card-icon{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 14px;
}
.card-heart{
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: gray;
}
.card{
    background-color: white;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(255,227,226,1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h2{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2px;
}
.card .subtitle{
    font-size: 18px;
    color: gray;
    margin-bottom: 24px;
}
.card .number{
    margin-bottom: 2px;
}
.card .tag{
    padding: 6px 16px;
    border-radius: 20px;
    background-color: rgba(209, 209, 209, 0.3);
    font-size: 18px;
    font-weight: normal;
    color: #5C5C5C;
    display: inline-block;
    width: fit-content;
    margin-bottom: 24px;
}
.btn{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.copy-btn, .call-btn{
    flex: 1;
    padding: 16px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}
.call-btn{
    background: #00A63E;
    color: white;
}
.copy-btn{
    background: white;
    color: gray;
}
/* aside style */
.history{
    background-color: white;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.history-header{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 10px 18px;
}
.history-header h2{
    padding: 12px;
    font-size: 15px;

}
.clear-btn{
    background: #00A63E;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}